body{
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-modern-simple-elegant-gradinet-green-landing-page-website-background-picture-image_1455074.jpg);
}

main{
    text-align: center;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    list-style: none;
    margin: 5px;
}

button{
    background-color: white;
    border-radius: 20px;
    height: 40px;
    border: none;
    padding: 0 20px;
}

button:hover{
    background-color: #555aec;
    cursor: pointer;
}

main h1{
    color: white;
}

.box{
    display: flex;
    margin: 5px;
}

.left{
    width: 50%;
    margin: 50px;
    padding: 50px;
    background-color: rgb(12, 232, 232);
    border-radius: 20px;
    
    
}

.right{
    width: 50%;
    margin: 50px;
    padding: 50px;
    background-color: rgb(12, 232, 232);
    border-radius: 20px;
    
}

.left h3{
    font-size: 35px;
    
}

.left p{
    font-size: 20px;
   
}

.left button{
    margin-top: 20px;

}

.right h3{
    font-size: 35px;
    
}

.right p{
    font-size: 20px;
    
}

.right button{
    margin-top: 20px;
    
}

.left:hover{
    background-color: lightblue;
    box-shadow: 0px 0px 100px black;
    
}

.right:hover{
    background-color: lightblue;
    box-shadow: 0px 0px 100px black;
    
}

 .img3{
    padding-left: 850px;
    
}

